@use '~suomifi-design-tokens/dist/tokens';
@use '../../styles/breakpoints';

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;

  @include breakpoints.upto-lg {
    padding-bottom: 10px;
  }

  .logo {
    cursor: pointer;
  }

  .mobileNavContainer {
    display: none;

    @include breakpoints.upto-lg {
      display: block;
    }
  }

  .desktopNavContainer {
    display: none;

    @include breakpoints.from-lg {
      display: flex;
      justify-content: center;
    }
  }
}
