@import '~suomifi-design-tokens/dist/tokens';
@import '../../styles/breakpoints';

.header {
  display: flex;
  flex-direction: column;
  border-top: 4px solid $fi-color-brand-base;
  border-bottom: 1px solid $fi-color-depth-light1;

  .upper {
    display: flex;
    justify-content: center;
    padding: 15px 15px 0 15px;

    .container {
      display: flex;
      flex: 1;
      justify-content: space-between;
      max-width: var(--content-max-width);
      padding-bottom: 15px;

      .logo {
        height: 32px;
        width: auto;
        cursor: pointer;
      }

      .mobileNavContainer {
        display: none;
        @include upto-lg {
          display: block;
        }

        .mobileMenuButton {
          height: 40px;
          width: 40px;
          border: none;
          background-color: transparent;
          background: none;

          .mobileMenuIcon {
            color: $fi-color-black-base;
            height: 24px;
            width: 24px;
          }

          &:focus {
            outline: none;
            position: relative;
            &::after {
              content: '';
              position: absolute;
              pointer-events: none;
              inset: -2px;
              border-radius: 2px;
              background-color: transparent;
              border: 0px solid rgb(255, 255, 255);
              box-sizing: border-box;
              box-shadow: rgb(26 153 199) 0px 0px 0px 2px;
              z-index: 9999;
            }
          }
        }
      }
    }
  }

  .desktopNavContainer {
    display: none;
    @include from-lg {
      display: flex;
      justify-content: center;
      border-top: 1px solid $fi-color-depth-light1;
    }
  }
}
