@use '~suomifi-design-tokens/dist/tokens';

.iconsContainer {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: none;
  border: none;
  padding-left: 20px;
}

.iconItem {
  margin: tokens.$fi-spacing-xl tokens.$fi-spacing-xxxl tokens.$fi-spacing-xs 0;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 6rem;
  height: 6rem;
  white-space: nowrap;
}

.icon {
  height: 1.5em;
  width: 1.5em;
}

.staticIcon {
  height: 256px;
  width: 256px;
}

.iconText {
  font-size: 16px;
}
