@use '~suomifi-design-tokens/dist/tokens';

.showcaseBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: tokens.$fi-spacing-s;
  border: 1px solid tokens.$fi-color-depth-light1;
}
