{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "typescript-eslint-parser",
  "parserOptions": {
    "jsx": true
  },
  "plugins": ["typescript", "react", "jsx-a11y"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "standard",
    "standard-react",
    "prettier-standard"
  ],
  "rules": {
    "no-unused-vars": "warn",
    "no-use-before-define": "warn"
  }
}
