@use '~suomifi-design-tokens/dist/tokens';
@use '../../styles/breakpoints';

.smallScreenNavContainer {
  background: tokens.$fi-color-white-base;
  border: 1px solid tokens.$fi-color-depth-light1;
  margin-top: tokens.$fi-spacing-m;

  @include breakpoints.from-lg {
    display: none;
  }

  .navHeadertext {
    font-weight: bold;
    margin-left: tokens.$fi-spacing-xs;
  }
}

.SideNavLayout {
  background: tokens.$fi-color-white-base;
  margin: tokens.$fi-spacing-xl 0 tokens.$fi-spacing-xxxl 0;
  border: 1px solid tokens.$fi-color-depth-light1;
  display: flex;

  @include breakpoints.upto-md {
    margin-left: -(tokens.$fi-spacing-xs);
    margin-right: -(tokens.$fi-spacing-xs);
  }

  @include breakpoints.upto-lg {
    flex-direction: column;
  }

  .left {
    min-width: 370px;

    @include breakpoints.upto-lg {
      display: none;
    }

    .navHeader {
      display: flex;
      align-items: center;
      padding: tokens.$fi-spacing-xs;

      .navHeadertext {
        font-weight: bold;
        margin-left: tokens.$fi-spacing-xs;
      }
    }
  }

  .right {
    flex: 1;
    padding: tokens.$fi-spacing-m tokens.$fi-spacing-s;
    overflow-x: auto;
  }
}

.navStaticIcon {
  width: 40px !important; // This is in order to easily override .fi-icon styles from ServiceNavigation
  height: 40px !important;
}
