@use '~suomifi-design-tokens/dist/tokens';

.navbar {
  ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;

    li {
      margin: 0 tokens.$fi-spacing-xl 0 tokens.$fi-spacing-xs;
      padding: tokens.$fi-spacing-inset-s 0;
      display: block;
      box-sizing: border-box;
      min-height: 43px;

      &:hover {
        border-bottom: 4px solid tokens.$fi-color-highlight-base;
      }

      a {
        @include tokens.fi-text-body-text;

        padding: tokens.$fi-spacing-inset-m;
        color: tokens.$fi-color-black-base;
        text-decoration: none;

        &:focus-visible {
          outline: 0;
          position: relative;

          &::after {
            @include tokens.fi-focus-absolute-focus;
          }
        }
      }
    }
  }
}

.active {
  border-bottom: 4px solid tokens.$fi-color-highlight-base;
}
