.infoBox {
  width: 100%;
  background: #fff;
  border: 1px solid #292929;
  padding: 25px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .infoBox {
    flex: 1;
  }
}