@use '~suomifi-design-tokens/dist/tokens';
@use '../../styles/breakpoints';

.heroBlock {
  display: flex;
  justify-content: center;

  .heroBlockImage {
    height: 380px;
    width: 100%;
    background-image: url('~/public/hero_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #002a60;

    @include breakpoints.upto-xl {
      background-size: cover;
    }

    .heroBlockLine {
      height: 4px;
      width: 115px;
      background: tokens.$fi-color-white-base;
      margin-bottom: tokens.$fi-spacing-xl;
      margin-top: 105px;
    }

    h1 {
      color: tokens.$fi-color-white-base;
      font-size: 55px;
      font-weight: 600;
      margin-bottom: tokens.$fi-spacing-m;
    }

    .heroBlockSubtitle {
      font-size: 26px;
      font-weight: 600;
      color: tokens.$fi-color-white-base;
    }
  }
}
