@use '~suomifi-design-tokens/dist/tokens';

.colorShowcaseContainer {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: none;
  border: none;
}

.colorContainer {
  margin: tokens.$fi-spacing-xs tokens.$fi-spacing-xl tokens.$fi-spacing-xl 0;
  line-height: 1rem;
}

.colorBox {
  width: 10rem;
  height: 3rem;
  margin-bottom: tokens.$fi-spacing-s;
}

.colorText {
  font-size: 16px;
}
