@use '~suomifi-design-tokens/dist/tokens';
@use '../../styles/breakpoints';

.footer {
  padding: tokens.$fi-spacing-xxl 0;
  border-top: 2px solid tokens.$fi-color-brand-base;

  .top {
    display: flex;
    align-items: center;
    gap: tokens.$fi-spacing-m;
    padding-bottom: tokens.$fi-spacing-m;

    @include breakpoints.upto-md {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .suomifiLink {
    display: inline-block;

    .logo {
      height: 120px;
      width: auto;
    }
  }

  .text {
    width: 40%;

    @include breakpoints.upto-md {
      width: 100%;
    }

    @include breakpoints.from-md {
      border-left: 1px solid tokens.$fi-color-depth-base;
      padding-left: tokens.$fi-spacing-m;
    }
  }

  .links {
    flex: 1;
    display: flex;
    gap: tokens.$fi-spacing-l;
    align-items: flex-start;
    flex-wrap: wrap;

    @include breakpoints.upto-md {
      justify-content: flex-start;
    }
  }

  .githubLink {
    display: flex;
    align-items: center;

    .githubLogo {
      width: 1.3rem;
      height: 1.3rem;
      margin-right: tokens.$fi-spacing-inset-m;
    }
  }
}
