@use '~suomifi-design-tokens/dist/tokens';

.table-with-filters {
  .table-with-filters_toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: tokens.$fi-spacing-xs;
  }

  .table-with-filters_inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: tokens.$fi-spacing-s;
    flex-wrap: wrap;
    margin: 0 0 tokens.$fi-spacing-m 0;
    padding: 0;
    border: none;

    .table-with-filters_input {
      flex: 1;
      width: auto;
      min-width: 200px;
    }
  }
}
