@use '~suomifi-design-tokens/dist/tokens';
@use '../../styles/breakpoints';

.infopageLayout {
  background: tokens.$fi-color-white-base;
  margin: tokens.$fi-spacing-xl 0;
  padding: tokens.$fi-spacing-xl;
  border: 1px solid tokens.$fi-color-depth-light1;

  @include breakpoints.upto-md {
    margin-left: -(tokens.$fi-spacing-xs);
    margin-right: -(tokens.$fi-spacing-xs);
  }

  @include breakpoints.upto-lg {
    flex-direction: column;
  }
}
