@import '~suomifi-design-tokens/dist/tokens';

.sideNav {
    .navHeader {
        display: flex;
        align-items: center;
        padding: $fi-spacing-xs;

        .navHeadertext {
            font-weight: bold;
            margin-left: $fi-spacing-xs;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            border-top: 1px solid $fi-color-depth-secondary;
            
            &.active {
                a {
                    color: $fi-color-brand-base;
                    font-weight: bold;
                }
                background: $fi-color-depth-secondary;
            }

            &:hover, &:active {
                background: $fi-color-depth-secondary;
            }

            a {
                text-decoration: none;
                color: $fi-color-highlight-base;
                display: flex;
                padding: $fi-spacing-inset-l $fi-spacing-inset-xl;
                &:hover, &:active {
                    text-decoration: none;
                    color: $fi-color-brand-base;
                }
            }
        }
    }
}