@use '~suomifi-design-tokens/dist/tokens';

$spacings: (
  'xxs': tokens.$fi-spacing-xxs,
  'xs': tokens.$fi-spacing-xs,
  's': tokens.$fi-spacing-s,
  'm': tokens.$fi-spacing-m,
  'l': tokens.$fi-spacing-l,
  'xl': tokens.$fi-spacing-xl,
  'xxl': tokens.$fi-spacing-xxl,
  'xxxl': tokens.$fi-spacing-xxxl,
  'xxxxl': tokens.$fi-spacing-xxxxl,
);

@each $name, $value in $spacings {
  .m-#{$name} {
    margin: $value !important;
  }
  .mt-#{$name} {
    margin-top: $value !important;
  }
  .mb-#{$name} {
    margin-bottom: $value !important;
  }
  .my-#{$name} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }
  .mx-#{$name} {
    margin-right: $value !important;
    margin-left: $value !important;
  }
  .p-#{$name} {
    padding: $value !important;
  }
  .pt-#{$name} {
    padding-top: $value !important;
  }
  .pb-#{$name} {
    padding-bottom: $value !important;
  }
  .py-#{$name} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }
  .px-#{$name} {
    padding-right: $value !important;
    padding-left: $value !important;
  }
}

.flex {
  display: flex;

  &.align-center {
    align-items: center;
  }

  &.justify-center {
    justify-content: center;
  }
}

.w-100 {
  width: 100%;
}
