// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap');
@import 'suomifi-ui-components/dist/main.css';
@import '~suomifi-design-tokens/dist/tokens';
@import './_utilities';
@import './_breakpoints';

:root {
  /* CSS properties */
  --content-max-width: 1140px;
}

body {
  margin: 0;
}

.fi-block.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fi-block.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 $fi-spacing-xs;
  @include from-lg {
    padding: 0 $fi-spacing-s;
  }
}

#content {
  background: $fi-color-depth-light3;
  display: flex;
  flex: 1;
}
