@import '/fonts/source-sans-pro.css';
@import '~suomifi-design-tokens/dist/tokens';
@import './_utilities';
@import './_breakpoints';

:root {
  /* CSS properties */
  --content-max-width: 1140px;
}

body {
  margin: 0;
}

.fi-block.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fi-block.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@include from-sm {
  .fi-block.container {
    width: 540px;
  }
}

@include from-md {
  .fi-block.container {
    width: 720px;
  }
}

@include from-lg {
  .fi-block.container {
    width: 960px;
  }
}

@include from-xl {
  .fi-block.container {
    width: 1140px;
    padding: 0;
  }
}

#content {
  background: $fi-color-depth-light3;
  display: flex;
  flex: 1;
}

.absoluteFocus {
  &:focus {
    outline: 0;
    position: relative;

    &::after {
      @include fi-focus-absolute-focus;
    }
  }
}

.fi-button.button--custom {
  background: #09ae88;
}

.fi-button.button--custom:hover {
  background: #e97025;
}

.fi-button.button--custom:active {
  background: #faaf00;
}

kbd.keyboard-button {
  @include fi-text-body-text-small;

  background-color: $fi-color-depth-light3;
  border-radius: $fi-radius-basic;
  border: 1px solid $fi-color-depth-light1;
  box-shadow: $fi-shadow-panel-shadow;
  display: inline-block;
  line-height: 1;
  padding: 2px 4px;
}

.testing-class {
  width: 200px;
}

.table-pattern-dropdown {
  .fi-dropdown_button {
    min-width: auto !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}
