@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap');
@import 'suomifi-ui-components/dist/main.css';
@import './_utilities.scss';

body {
  margin: 0;
}

.fi-block.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fi-block.container {
  width: 1140px;
  margin: 0 auto;
}

#content {
  background: #f7f7f8;
  display: flex;
  flex: 1;
}
