@use '~suomifi-design-tokens/dist/tokens';
@use '../../styles/breakpoints';

.frontPageCard {
  width: 350px;

  @include breakpoints.upto-lg {
    width: 100%;
  }

  .upper {
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: tokens.$fi-radius-basic;
    border-top-right-radius: tokens.$fi-radius-basic;
    padding: tokens.$fi-spacing-xl;
  }

  .lower {
    background-color: tokens.$fi-color-white-base;
    box-shadow: tokens.$fi-shadow-panel-shadow;
    padding: tokens.$fi-spacing-xs tokens.$fi-spacing-s tokens.$fi-spacing-m
      tokens.$fi-spacing-s;
    border-bottom-left-radius: tokens.$fi-radius-basic;
    border-bottom-right-radius: tokens.$fi-radius-basic;
  }
}
