@import '~suomifi-design-tokens/dist/tokens';

.wrapper {
  position: relative;

  .button {
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    background: none;

    .icon {
      color: $fi-color-black-base;
      height: 24px;
      width: 24px;
    }

    &:focus {
      outline: none;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        pointer-events: none;
        inset: -2px;
        border-radius: 2px;
        background-color: transparent;
        border: 0px solid rgb(255, 255, 255);
        box-sizing: border-box;
        box-shadow: rgb(26 153 199) 0px 0px 0px 2px;
        z-index: 9999;
      }
    }
  }

  .menu {
    position: absolute;
    top: 50px;
    right: -3px;
    z-index: 10000;
    width: 320px;
    background-color: #ffffff;
    border: 1px solid $fi-color-depth-light1;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        line-height: 40px;
        position: relative;

        &.active {
          background: $fi-color-depth-secondary;
          border-left: 4px solid $fi-color-brand-base;

          a {
            color: $fi-color-brand-base;
            font-weight: bold;
            margin-left: -4px;
          }
        }

        &.partiallyActive {
          a {
            color: $fi-color-brand-base;
            font-weight: bold;
          }
        }

        &:hover,
        &:active {
          background: $fi-color-depth-secondary;
        }

        a {
          text-decoration: none;
          color: $fi-color-highlight-base;
          display: flex;
          padding: 0 15px;

          &:hover,
          &:active {
            text-decoration: none;
            color: $fi-color-brand-base;
          }

          &:focus {
            outline: 0px;
            position: relative;
          }

          &:focus::after {
            content: '';
            position: absolute;
            inset: -4px;
            background-color: transparent;
            box-sizing: border-box;
            z-index: 9999;
            border-radius: 4px;
            border: 3px solid rgb(26, 153, 199);
          }
        }
      }
    }
  }
}
