@use '~suomifi-design-tokens/dist/tokens';

.wrapper {
  position: relative;

  .button {
    height: 40px;
    width: 40px;
    border: none;
    background: none;
    background-color: transparent;

    .icon {
      color: tokens.$fi-color-black-base;
      height: 24px;
      width: 24px;
    }
  }

  .menu {
    position: absolute;
    top: 50px;
    right: -3px;
    z-index: 10000;
    width: 320px;
    background-color: white;
    border: 1px solid tokens.$fi-color-depth-light1;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        line-height: 40px;
        position: relative;

        a {
          text-decoration: none;
          color: tokens.$fi-color-highlight-base;
          display: flex;
          padding: 0 15px;

          &:hover,
          &:active {
            text-decoration: none;
            color: tokens.$fi-color-brand-base;
          }
        }

        &.active {
          background: tokens.$fi-color-depth-secondary;
          border-left: 4px solid tokens.$fi-color-brand-base;

          a {
            color: tokens.$fi-color-brand-base;
            font-weight: bold;
            margin-left: -4px;
          }
        }

        &.partiallyActive {
          a {
            color: tokens.$fi-color-brand-base;
            font-weight: bold;
          }
        }

        &:hover,
        &:active {
          background: tokens.$fi-color-depth-secondary;
        }
      }
    }
  }
}
