@import '~suomifi-design-tokens/dist/tokens';

.mobileMenuButton {
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  background: none;

  .mobileMenuIcon {
    color: $fi-color-black-base;
    height: 24px;
    width: 24px;
  }

  &:focus {
    outline: none;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      pointer-events: none;
      inset: -2px;
      border-radius: 2px;
      background-color: transparent;
      border: 0px solid rgb(255, 255, 255);
      box-sizing: border-box;
      box-shadow: rgb(26 153 199) 0px 0px 0px 2px;
      z-index: 9999;
    }
  }
}
