@use '~suomifi-design-tokens/dist/tokens';

.infoBox {
  border: 1px solid tokens.$fi-color-depth-light1;
  padding: tokens.$fi-spacing-m;
  background: tokens.$fi-color-highlight-light3;

  ul {
    margin: 0;
    padding: 0 0 0 tokens.$fi-spacing-s;

    li {
      margin: tokens.$fi-spacing-m;
    }
  }
}
